In [94]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt


df_te = pd.read_csv('test.csv')
df_tr = pd.read_csv('train.csv')
# df_ss = pd.read_csv('sampleSubmission.csv')
df_tr['Gaji'] =df_tr['Gaji'].map({'<=7jt': 0, '>7jt': 1})

In [95]:
x_tr = df_tr.drop('Gaji', axis=1) #feature
y_tr = df_tr['Gaji'] #target/label

In [96]:
# CONVERT STRING TO INT
kp = {
    'Wiraswasta': 0,
    'Pekerja Bebas Bukan Perusahan': 1,
    'Pemerintah Lokal': 2,
    '?': 3,
    'Pemerintah Negara': 4,
    'Pekerja Bebas Perusahaan': 5,
    'Pemerintah Provinsi': 6,
    'Tanpa di Bayar': 7,
    'Tidak Pernah Bekerja': 8
}

p = {
    'SMA': 0,
    'Pendidikan Tinggi': 1,
    'Sarjana': 2,
    'Master': 3,
    'D4': 4,
    '11th': 5,
    'D3': 6,
    '10th': 7,
    '7th-8th': 8,
    'Sekolah Professional': 7,
    '9th': 7,
    '12th': 7,
    'Doktor': 7,
    '5th-6th': 7,
    '1st-4th': 7,
    'SD': 7
}

sp = {
    'Menikah': 0,
    'Belum Pernah Menikah': 1,
    'Cerai': 2,
    'Berpisah': 3,
    'Janda': 4,
    'Menikah LDR': 5
}

pkr = {
    'Spesialis': 0,
    'Perbaikan Kerajinan': 1,
    'Ekesekutif Managerial': 2,
    'Pemuka Agama': 3,
    'Sales': 4,
    'Servis Lainnya': 5,
    'Mesin Inspeksi': 6,
    '?': 7,
    'Supir': 8,
    'Pembersih': 7,
    'Petani': 7,
    'Tech-support': 7,
    'Penjaga': 7,
    'Asisten Rumah Tangga': 7,
    'Tentara': 7
}

jk = {
    'Laki2': 0,
    'Perempuan': 1
}

x_tr['Kelas Pekerja'] = x_tr['Kelas Pekerja'].replace(kp)
x_tr['Pendidikan'] = x_tr['Pendidikan'].replace(p)
x_tr['Status Perkawinan'] = x_tr['Status Perkawinan'].replace(sp)
x_tr['Pekerjaan'] = x_tr['Pekerjaan'].replace(pkr)
x_tr['Jenis Kelamin'] = x_tr['Jenis Kelamin'].replace(jk)

df_te['Kelas Pekerja'] = df_te['Kelas Pekerja'].replace(kp)
df_te['Pendidikan'] = df_te['Pendidikan'].replace(p)
df_te['Status Perkawinan'] = df_te['Status Perkawinan'].replace(sp)
df_te['Pekerjaan'] = df_te['Pekerjaan'].replace(pkr)
df_te['Jenis Kelamin'] = df_te['Jenis Kelamin'].replace(jk)

x_tr = x_tr.astype(int)
df_te = df_te.astype(int)

In [98]:
x_tr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35994 entries, 0 to 35993
Data columns (total 12 columns):
id                       35994 non-null int32
Umur                     35994 non-null int32
Kelas Pekerja            35994 non-null int32
Berat Akhir              35994 non-null int32
Pendidikan               35994 non-null int32
Jmlh Tahun Pendidikan    35994 non-null int32
Status Perkawinan        35994 non-null int32
Pekerjaan                35994 non-null int32
Jenis Kelamin            35994 non-null int32
Keuntungan Kapital       35994 non-null int32
Kerugian Capital         35994 non-null int32
Jam per Minggu           35994 non-null int32
dtypes: int32(12)
memory usage: 1.6 MB

In [99]:
df_te.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9599 entries, 0 to 9598
Data columns (total 12 columns):
id                       9599 non-null int32
Umur                     9599 non-null int32
Kelas Pekerja            9599 non-null int32
Berat Akhir              9599 non-null int32
Pendidikan               9599 non-null int32
Jmlh Tahun Pendidikan    9599 non-null int32
Status Perkawinan        9599 non-null int32
Pekerjaan                9599 non-null int32
Jenis Kelamin            9599 non-null int32
Keuntungan Kapital       9599 non-null int32
Kerugian Capital         9599 non-null int32
Jam per Minggu           9599 non-null int32
dtypes: int32(12)
memory usage: 450.1 KB

In [100]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x_tr, y_tr, test_size=0.25, random_state=21, stratify=y_tr)

In [101]:
from sklearn.linear_model import LinearRegression
model_lr = LinearRegression(fit_intercept=True)
model_lr.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [102]:
#prediksi with predict
y_pred = model_lr.predict(df_te)
y_pred

array([ 0.08895794,  0.19328134,  0.313823  , ...,  0.00383241,
       -0.03599318,  0.30937723])

In [103]:
hasil = pd.DataFrame( { 'id': pd.Series(df_te['id']), 'Gaji': pd.Series(y_pred) } )
hasil

         id      Gaji
0     35994  0.088958
1     35995  0.193281
2     35996  0.313823
3     35997  0.617537
4     35998  0.180420
...     ...       ...
9594  45588  0.247097
9595  45589  0.319068
9596  45590  0.003832
9597  45591 -0.035993
9598  45592  0.309377

[9599 rows x 2 columns]

In [54]:
# hasil.to_csv('Submission.csv', index=False)